p{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration : none;
    color: black;
    font-weight: bolder;
}

.titre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    padding: 20px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: x-large;
}

.navbar{
    background-color: black;
    border-radius: 0;
}

li a{
    color:white;
}

li a:hover{
    color: rgb(199, 49, 49);
}

.redirection{
    color:white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 500px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: stretch;
    padding-top: 250px;
}

.redirection a{
    color: white;
    font-weight: bolder;
}

.redirection a:hover{
    color: rgb(199, 49, 49);
}

#faillite {
    height: 700px;
}

.footer-class{
    background-color: black;
    color :white;
    text-align: center;
    font-size: larger;
    height: 120px;
    padding-top: 20px;
}

.footer-class a{
    color : white;
}

.footer-class a:hover{
    color: rgb(199, 49, 49);
}

em, i, b{
    font-weight: normal;
    font-style: normal;
}


h2 b{
    font-size: bolder;
}

.description .image{
    float: right;
}

.description{
    height: 500px;
    padding: 200px;
    font-size: 20px;
}

#index {
    gap:80px;
    font-size: 45px;
    text-align: center;
}
